// ===== Вспомагательный блок позиционирования =====
// ===== По оси X - центр =====
// ===== По оси Y - центр =====
// Блок должен находиться внутри обертки с позиционированием
// position: relative;
// класс .center-p добавляется к любому блоку
// который необходимо разместить ровно по центру двух осей
// родительского блока

.center-p {
    position: absolute;
  
    left: 50%;
    top: 50%;
    // разместить блок левым верхним углом по центру обертки
    
    transform: translate(-50%, -50%);
	// сдвиг блока на 50% своей ширины влево,
    // сдвиг блока на 50% своей ширины вверх
}