@import '../../assets/scss/utils/vars.scss';
@import '../../assets/scss/utils/fonts.scss';

.header {
    min-height: 10vh;

    background-color: $pageSecondBgColor;
    box-shadow: 0px 0px 10px 15px $pageSecondBgColor;

    .header__heading {
        text-align: center;
        line-height: 10vh;

    }
}

.main {
    min-height: 80vh;

    .todo-panel {
        margin: 50px 0;
        padding: 15px;

        background-color: $pageSecondBgColor;
        box-shadow: 0px 0px 10px 15px $pageSecondBgColor;
    }

    .todo-task {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .todo-add-task__label {
            padding-left: 14px;
            height: 40px;

            font-size: 20px;
            line-height: 40px;
            color: $mainText;
        }

        .todo-add-task__input {
            margin-bottom: 0;
            margin-top: -10px;
            padding: 0 20px;
            height: 70px;

            font-size: 20px;
            line-height: 40px;
            color: $mainText;

            background-color: $pageBgColor;
            box-shadow:
                inset 0px 0px 0px 2px $pageSecondBgColor,
                inset 0px 0px 5px 10px $pageSecondBgColor;
            border: none;
            border-radius: 5px;

            &::placeholder {
                color: transparentize($mainText, 0.6);

            }

            &:focus {
                outline: none;
            }
        }

        .todo-add-task__button {
            padding: 0 20px;
            height: 70px;

            font-size: 20px;
            line-height: 40px;
            color: $mainText;

            border: none;
            border-radius: 5px;
            background-color: darken($pageSecondBgColor, 10);
            box-shadow: inset 0px 0px 5px 10px $pageSecondBgColor;

            &:hover {
                cursor: pointer;
                background-color: darken($pageSecondBgColor, 15);
                box-shadow: inset 0px 0px 5px 10px $pageSecondBgColor;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .todo-list {

        .todo-list__item-input {
            float: left;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .todo-list__item-label {
        display: block;

        &:hover {
            cursor: pointer;
        }
    }
}


.footer {
    min-height: 10vh;

    background-color: $pageSecondBgColor;
    box-shadow: 0px 0px 10px 15px $pageSecondBgColor;
}