@import '../../assets/scss/utils/vars.scss';
@import '../../assets/scss/utils/fonts.scss';

.header {
    min-height: 10vh;

    background-color: $pageSecondBgColor;
    box-shadow: 0px 0px 10px 15px $pageSecondBgColor;

    user-select: none;

    .header__heading {
        text-align: center;
        line-height: 10vh;

    }
}

.main {
    min-height: 80vh;

    .todo-panel {
        margin: 50px 0;
        padding: 15px;

        background-color: $pageSecondBgColor;
        box-shadow: 0px 0px 10px 15px $pageSecondBgColor;
    }

    .todo-add-task {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .todo-add-task__label {
            padding-left: 14px;
            height: 40px;

            font-size: 18px;
            line-height: 40px;
            color: $mainText;

            user-select: none;
        }

        .todo-add-task__input {
            margin-top: -10px;
            padding: 0 20px;
            height: 70px;

            font-size: 20px;
            line-height: 40px;
            color: $mainText;

            background-color: $pageBgColor;
            box-shadow:
                inset 0px 0px 0px 2px $pageSecondBgColor,
                inset 0px 0px 5px 10px $pageSecondBgColor;
            border: none;
            border-radius: 5px;

            &::placeholder {
                color: transparentize($mainText, 0.6);

            }

            &:focus {
                outline: none;
            }
        }

        .important {
            margin-bottom: 15px;
            margin-left: 5px;
            margin-top: -5px;

            .important__checkbox {}

            .important__label {}
        }

        .todo-add-task__button {
            margin-left: 10px;
            margin-right: 10px;
            padding: 0 20px;
            height: 40px;

            font-size: 20px;
            line-height: 40px;
        }
    }

    .todo-heading {
        user-select: none;
    }

    .todo-list {

        .todo-list__item-input-completed {
            float: left;
            margin-top: 8px;

            &:hover {
                cursor: pointer;
            }

            &:checked+.todo-list__item-label {
                text-decoration: line-through;
            }

        }

        .todo-list__item-label {
            display: block;
            padding: 5px 0;
            border-radius: 5px;

            user-select: none;

            &:hover {
                cursor: pointer;
                background-color: darken($pageSecondBgColor, 5);
                box-shadow: 0px 0px 5px 3px darken($pageSecondBgColor, 5);
            }

            &.todo-list__item-label_red {
                color: #991050;
            }
        }
    }

    .todo-list__clear-button {
        margin-top: 15px;
        float: right;
    }
}


.footer {
    min-height: 10vh;

    background-color: $pageSecondBgColor;
    box-shadow: 0px 0px 10px 15px $pageSecondBgColor;

    user-select: none;
}

.button {
    border: none;
    border-radius: 5px;

    color: $mainText;

    background-color: darken($pageSecondBgColor, 10);
    box-shadow: 0px 0px 5px 3px darken($pageSecondBgColor, 10);

    &:hover {
        cursor: pointer;
        background-color: darken($pageSecondBgColor, 15);
        box-shadow: 0px 0px 5px 3px darken($pageSecondBgColor, 15);
    }

    &:focus {
        outline: none;
    }
}