// для подключения переменных и расширений
// For example:
// @import './utils/vars.scss';

// ↓↓ Variables ==================================================================
// For example:
// $mainColor   : #ff0000;
// To use: color: $mainColor;

// Colors ========================================================================
$pageBgColor: #B6FDFF;
$pageSecondBgColor: #88C2E3;
$panelBgColor: #9b7012;
$mainText: #001E4A;


// ↑↑ Variables ==================================================================